<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>ortacasts</title>
  <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>
  <section>
    <h1>ortacasts... it's a challenge to post a podcast everyday through april you can follow this in two ways: you can use <a href="http://feeds.feedburner.com/ortacasts">iTunes</a> or <a href="http://eepurl.com/db2Iw">sign up for daily emails</a> through april</h1>

    <% @items.each do |cast| %>
      <div>
        <h2><a href="<%= cast[:link] %>"><%= cast[:title] %></a></h2>
        <p><%= CGI.escapeHTML(cast[:description]) %></p>
      </div>
    <% end %>
  </section>
  </html>
