<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>ortacasts</title>
  <link rel="stylesheet" href="/stylesheet.css">
  
  <meta property="og:title" content="The ortacast podcast " />
  <meta property="og:description" content="Latest : <%= @items.last[:description] %>" />

</head>
<body>
  <section>
    <h1>ortacasts... it's a challenge to post a podcast everyday through april. You should follow this in two ways: you can use <a href="http://feeds.feedburner.com/ortacasts">iTunes/RSS</a> or <a href="http://eepurl.com/db2Iw">sign up for daily emails</a> through april</h1>
    <% i = @items.count %>
    <% @items.reverse.each do |cast| %>
      <div>
        <div class="counter"><%= i = i - 1 %></div>
        <h2><a href="<%= @server + cast[:link] %>"><%= cast[:title] %></a></h2>
        <p><%= cast[:description] %><br/><%= cast[:length] %></p>
      </div>
    <% end %>
  <footer>
  <p>tchau</p>
  </footer>
  </section>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-5057919-6']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  </html>
